.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.main-footer-info{
    width: 100%;   
    display: flex;
    background-color: #222222;
    height: 65vh;
    margin-top: -65vh;
    height: 65vh;
}

.block-1{
    width: 40%;

}

.block-1 p{
    width: 65%;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 15px;
    color: #fff;
}

.icon{
    width: 20%;
    padding-top: 55px;
}

.block-2{
    width: 40%;
   
}


.block-2 h5{
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    margin: 0;
    
}

.nav-footer{
    width: 35%;
    display: flex;
    flex-direction: column;
}

.nav-footer a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    position: relative;
    top: 5px;
}

.nav-footer a::before{
    content: '';
    position: absolute;
    right: 209px;
    top: 0px;
    width: 15px;
    height: 15px;
    background-image: url('../images/footer-arrow.png')
}

.nav-footer a:hover{
    color: #ffbe00;
    transition: 0.5s;
}

.block-3{
    width: 18%;    
}

.block-3 p{
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 5px;
}

.block-3 img{
    height: 15px;
    position: relative;
    top: 10px;
    right: 20px;
}


.block-3 h5{
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    
}

.block-4{
    width: 15%;
}

.block-4 h5{
    color: #fff;
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}

.block-4 p{
    color: #FFFFFF;
    font-size: 15px;
    letter-spacing: 1px;
}

.block-4 img{
    height: 15px;
    position: relative;
    right: 20px;
    top: 15px;
}

.copy-right{
    width: 100%;
    margin-left: 750px;
    margin-bottom: 60px;
    position: relative;
    bottom: 50px;
    right: 750px;
}

.copy-right p{
    width: 100%;
    color: #888888;
    text-align: center;
    border-top: 1px solid  #ffbe00;
}

@media(max-width: 1024px){
    .block-2{
        width: 35%;
    }
}

@media(max-width: 768px){
    .block2{
        width: 25%;
    }
    .icon{
        width: 45%;
        position: relative;
        bottom: 30px;
    }
}

@media(max-width: 425px){
    .block-1{
        width: 45%;
    
    }
    
    .block-1 p{
        line-height: 17px;
    }

    .block-22{
        width: 25%;
        
    }
    .block-3{
        line-height: 15px;
        position: relative;
        top: 0px;
    }

    .block-3 h5{
        display: none;
    }

    .block-4 h5{
        display: none;
    }
    .block-4{
        position: relative;
        top: 200px;
        right: 70px;
        line-height: 12px;
    }
}

@media(max-width: 320px){
    .block-1 p{
        line-height: 13px;
    }
}
