header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 80px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo-div{
    width: 40%;
    margin-left: 143px ;
}


.nav-div{
    width: 50%;
    margin-right: 300px;
    display: flex;
    justify-content: space-between;
}

.contact{
    width: 10%;
    display: flex;
    justify-content: space-around;
    margin-right: 150px;
}


.logo-phone{
    display: flex;
    margin-right: 10px;
}

.number{
    text-decoration: none;
    color: #111111;
    white-space: nowrap;
}


.nav-div a{
    text-decoration: none;
    color: #111111;
    font-weight: 500;
}

.nav-div a:hover{
    color: orange;
    transition: 0.3s;
}

.number p:hover{
    color: orange;
    transition: 0.3s;
}

.menu{
    display: none;
}

@media (max-width: 1024px){
    .logo-div{
        width: 25%;
        margin-right: 500px;
    }

    .menu{
        display: block;
        width: 30px;
        height: 30px;
    }

    .nav-div {
        display: none;
    }

}

@media(max-width: 768px){
    .logo-div{
        width: 25%;
        margin-right: 500px;
    }


    .menu{
        display: block;
        width: 30px;
        height: 30px;
    }

    .nav-div {
        display: none;
    }

    .contact{
        width: 15%;
        position: absolute;
        left: 638px;
    }

    
}

@media(max-width: 425px){
    .logo-div{
        width: 15%;
        margin-right: 700px;
        
    }

    .contact{
        position: absolute;
        left: 290px;
    }
}