@import url('./reset.css');
@import url('./header.css');
@import url('./main.css');
@import url('./section-2.css');
@import url('./section-3.css');
@import url('./section-4.css');
@import url('./section-5.css');
@import url('./section-6.css');
@import url('./section-7.css');
@import url('./section-8.css');
@import url('./section-9.css');
@import url('./footer.css');
@import url('./f.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}