.main{
   background-image:url('../images/banner_1__.png');
   height: 100vh;
   background-size:cover;
}


.main-txt{
    padding-top: 295px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}

.main-txt h1{
    font-size: 80px;
    font-weight: 500;
    text-align: center;
}

.main-txt p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 20px;
    text-align: center;
    margin: 40px 0;
}

.main-txt button{
    background-color: #ffbe00;
    color: #111;
    letter-spacing: 1px;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 15px 27px ;
}

.main-txt button:hover{
    background-color: transparent ;
    color: white;
    border: 1px #ffbe00 solid;
    transition: 0.5s;
}








