.section-8{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 95%;
    padding-top: 10px;
}


.main8{
    width: 100%;
}
.main-text8{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.main-text8 h2{
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 700;
    
}

.main-text8 img{
    width: auto;
    height: 50px;
    padding: 0 40px;
    
}

.card8{
    width: 90%;
    justify-content: space-around;
    display: flex;
    margin-top: 50px;
    margin-left: 65px;
}

.h-img-card1 img{
    width: 100%;
}

.home-card1{
    width: 60%;
    box-shadow: 0 0 20px rgb(46 59 125 / 23%);
    margin: 20px;
}

.container-p{
    width: 100px;
    height: 60px;
    position: relative;
    bottom: 40px;
    background-color: #ffbe00;
    margin-left: 20px;
}

.p-text8-1{
    color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
}

.card8-text{
    line-height: 1.9;
    position: relative;
    bottom: 40px;
    background-color: #FFFFFF;
    padding-top: 20px;

}

.card8-text h4{
    color: #111111;
    font-weight: 700;
    font-size: 23px;
    margin: 0 10px;
}

.card8-text h6{
    color: #ffbe00;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 10px;
}

.card8-text p{
    color: #888888;
    font-size: 16px;
    margin: 0 10px;
}

@media(max-width: 320px){
    .main-text8 h2{
        font-size: 18px;
    }

    .card8{
        flex-wrap: wrap;
    }
}

