.section-6{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 95%;
    padding-top: 80px;
}

.section6-main-txt{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.section6-main-txt h2{
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 700;
    
}

.section6-main-txt img{
    width: auto;
    height: 50px;
    padding: 0 40px;
    
}

.client-card{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    padding: 20px;
}

.review-item{
    width: 29%;
    height: 250px;
    background-color: white;
    box-shadow: 0 0 20px rgb(46 59 125 / 23%);
    margin: 20px;
    padding-bottom: 30px;
}

.review-info{
    display: flex;
    align-items: center;
    
}

.reviewer{
    padding-left: 20px;
}

.review-info img{
    border: 5px solid #ffbe00;
}

.reviewer h4{
    font-weight: 700;
    margin: 0;
    color: #111;
}

.reviewer p{
    font-size: 16px;
    color: #888888;
    padding-top: 5px;
}

.review-item > p{
    padding: 20px 0;
    text-align: center;
    color: #888888
}

@media(max-width: 425px){
    .section6-main-txt h2{
        font-size: 25px;
    }

    .review-item{
        height: 400px;
    }

    .review-item p{
        padding-top: 60px;
    }

    .reviewer{
        margin: 0;
        position: relative;
        top: 100px;
        right: 100px;
    }

    .reviewer p{
        position: relative;
        bottom: 55px;
        left: 30px;
    }
}