.section-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #222;
    margin-top: 65px;
    width: 100%;
    height: 810px;
}

.main-intro{
    width: 100%;
   
}

.section4-main-txt{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    
}

.section4-main-txt h2{
   white-space: nowrap;
   letter-spacing: 1px;
   font-size: 50px;
   font-weight: 700;
   color: #fff;
}

.section4-main-txt img{
    width: auto;
    height: 50px;
    padding: 0 40px;
    
}

.intro-img{
    flex-wrap: wrap;
    display: flex;
    width: 95%;
    justify-content: space-around;
    align-items: center;
    margin-top: 190px;
    padding-left: 30px;
    
}

.intro-img img{
    width:24%;
    padding-top: 20px;
}

@media(max-width: 425px){
    .section4-main-txt h2{
        font-size: 25px;
    }

    .intro-img{
        position: absolute;
        right: 0;
    }
}

@media(max-width: 320px){
    .section4-main-txt h2{
        font-size: 15px;
    }
}