.section-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    margin-top: 100px;
}



.section5-main-txt{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;

}

.section5-main-txt h2{
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 700;
}

.section5-main-txt img{
    width: auto;
    height: 50px;
    padding: 0 40px;
}

.main-cards{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
}

.cards-info{
    padding: 0px 10px;
}


.cards-info img{
    width: 300px;
    box-shadow: 0 0 20px rgb(46, 59, 125, 0.23);
    padding-bottom: 90px;
}

.cards-info h4{
    text-align: center;
    width: 80%;
    position: relative;
    left: 30px;
    bottom: 70px;
    font-weight: 700;
    font-size: 25px;
    margin: 0;
    color: #111;
}

.cards-info p{
    text-align: center;
    width: 80%;
    position: relative;
    left: 30px;
    bottom: 60px;
    font-size: 16px;
    color: #888888;
}

@media(max-width: 1024px){
    .main-cards{
        width: 70%;
        flex-wrap: wrap;
    }
}

@media(max-width: 425px){
    .section5-main-txt h2{
        font-size: 25px;
    }

}

@media(max-width: 320px){
    .section5-main-txt h2{
        font-size: 15px;
    }
}