.section-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto;

}

 .section2-main-txt{
    width: 42%;
    display: flex;
    position: relative;
}


 .section2-main-txt h2{
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    letter-spacing: 1px;
    margin: auto;
    padding: 95px 0;
}



 .section2-mediav{
   width: 50%;
}

.video{
    width: 500px;
    height: 550px;
    position: absolute;
    top: 1000px;
    right: 1100px;
    left: 150px;
    border-radius: 30px
} 

.video-player{
    width: 100px;
    height: 100px;
    position: relative;
    top: 250px;
    right: 35px;
    bottom: 200px;
}

.section2-list{
    width: 35%;
    
}

.list{
    font-family: 'Open-Sans' sans-serif;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 1150px;
    left: 750px;
    letter-spacing: 1px;
    line-height: 40px;
    list-style-image: url(/images/right-arrow.png);
}

.list p:hover{    
    color:  #FFBE00;
    transition: 0.3s;
}

.section2-limg{
    width: 20%;
}

.list-img{
    width: auto;
    height: 700px;
    
    position: absolute;
    right: 100px;
    top: 940px;
    bottom: 0;
}

.section2-main-txt img{
    width: auto;
    height: 50px;
    padding-top: 85px;
}

@media(max-width: 1024px){
    .section2-main-txt{
        width: 50%;
    }
    .section2-main-txt h2{
        position: relative;
        bottom: 65px;
        
    }
   
    .section2-main-txt img{
        position: relative;
        bottom: 60px;
    }
   
    .video{
        height: 400px;
        width: 400px;
        position: absolute;
        left: 0;
    }

    .video-player{
        width: 85px;
        height: 85px;
        position: absolute;
        top: 1150px;
        right: 770px;
    }

    .section2-list{
        width: 60%;
        position: relative;
        bottom: 1300px;
        right: 500px;
        
    }
    .list p{
        line-height: 1.5;
    }

    .section2-limg{
        position: absolute;
        left: 900px;
        bottom: 880px;
    }
}

@media(max-width: 768px){
    .section-2{
        height: 65vh;
        width: 100%;
    }
    .section2-main-txt{
        width: 80%;
        height: 100px;
    }

    .section2-main-txt h2{
        width: 60%;
        
    }

    .left-img{
       position: relative;
       left: 60px;
    }

    .right-img{
        position: relative;
        right: 80px; 
    }

    .video{
        height: 300px;
        width: 300px;
        position: absolute;
    }

    
    .video-player{
        width: 85px;
        height: 85px;
        position: absolute;
        left: 0;
        right: 30px;
        bottom: 2000px;
        padding-left: 110px;
        padding-bottom: 110px;
    }

    .section2-limg{
        width: 500px;
        height: 500px;
        position: absolute;
        bottom: 400px;
        left: 380px;
    }

    .section2-list{
        width: 60%;
    }
}

@media(max-width: 425px){
    .section2-main-txt{
        width: 100%;
    }

    .section2-main-txt h2{
        font-size: 25px;
    }

    .left-img{
        width: 30px;
        height: 30px;
        padding-right: 60px;
        
    }

    .right-img{
        width: 30px;
        height: 30px;
        padding-left: 60px;
    }

    .section2-limg{
        display: none;
    }

   
}