.section-3{
    width: 100%;
    padding-top: 50px;
}

.section3-main-txt{
    width: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 560px;
    
}

.section3-main-txt h2{
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 50px;

}

.section3-main-txt img{
    width: auto;
    height: 80px;
    padding: 0 40px;

}

.section3-cards img{
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.section3-cardsl{
    display: flex;

    width: 30%;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 80px;
    justify-content: space-around;
    padding-top: 10px ;
}

.section3-cards{
    width: 33%;
    
    border: 1px solid #FFBE00;
    padding:30px 1px;
    margin: 10px 0;
    text-align: center;
}

.section3-cardsl p{
    color: #FFBE00;
}

.section3-main-img img{
    width: 295px;
    height: 430px;
    position: absolute;
    top: 1773px;
    left: 630px;
    z-index: -1;
}

.section3-cardsr{
    display: flex;
    width: 30%;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 80px;
    justify-content: space-around;
    padding-top: 10px ;
    position: absolute;
    right: 118px;
    top: 1775px;

}

.section3-cards-right{
    width: 33%;
    border: 1px solid #FFBE00;
    padding:30px 1px;
    margin: 10px 0;
    text-align: center;
    
}

.section3-cardsr p{
    color: #FFBE00;
}

.section3-cards-right img{
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@media(max-width: 1024px){
    .section3-main-img{
        position: relative;
        right: 285px;
        bottom: 2100px;
    }

    .section3-cardsr{
        margin-top: 90px;
    }
}

@media(max-width: 768px){
    .section3-cardsr{
        position: absolute;
        left: 450px;
        
    }
    .section3-main-img{
        width: 30%;
        position: absolute;
        top: 20px;
        right: 900px;
        
    }   

  
}

  
@media(max-width: 425px){
    .section-3{
        height: 100vh;
    }
    .section3-main-txt h2{
        font-size: 25px;
        position: relative;
        bottom: 300px;
    }

    .left-img{
        width: 30px;
        height: 30px;
        display: none;
        
    }

    .right-img{ 
        width: 30px;
        height: 30px;
        display: none;
    }
    
    .section3-main-img{
        display: none;
    }

    .section3-cardsr{
       display: none;
        
    }

    .section3-cardsl{
        width: 30%;
        position: absolute;
        right: 300px;
        top: 1500px;
        bottom: 200px;
        display: flex;
        flex-direction: column;
        
        
    }
    
    .section3-cards{
        width: 75%;
        height: 50px;
        

    }
}




    

