.section-7{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    
}

.section7-main-img{
    width: 100%;
    height: 300px;
    background: url(/images/main_city.jpg);
    background-size: cover;
    padding-bottom: 100px;
    margin-bottom: 100px;
    
}

.background-color{
    width: 100%;
    height: 400px;
    background: rgba(0,0,0,0.50);
}

.section7-next-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.info-card{
    width: 20%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    position: relative;
    bottom: 280px;
    left: 5px;
    border: 2px solid #ffbe00;
    border-radius: 10px;
    
}

.info-card img{
    width: 70px;
}

.info-card h4{
    font-size: 34px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.info-card p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 10px;
    letter-spacing: 1px;
}

.info-card p:hover{
    color: #ffbe00;
    transition: 0.6s;
}

@media(max-width: 425px){
    .info-card{
        margin: 0;
    }
}