.section-9{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-top: 50px;
    background-color: #f9f9f9;
    padding-bottom: 65vh;
}

.main-text9{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.main-text9 h2{
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 50px;
    font-weight: 700;
}

.main-text9 img{
    width: auto;
    height: 50px;
    padding: 0 40px;
}

.main9{
    margin-right: 400px;
   
}

.section9-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 20px;
}


.section9-form input{
    width: 90%;
    margin-top: 30px;
    border: none;
    height: 10px;
    padding: 20px;
}

.section9-form span{
    color: #ffbe00;
}

.messege{
    width: 337px;
    height: 275px;
    font-size: 16px;
    font-weight: 600;
    float: right;
    position: relative;
    bottom: 146px;
    left: 250px
   
   
}

.messege-p{
    position: absolute;
    left: 247px;
    bottom: 430px;
}

.messege textarea{
    border: none;
}

.inp-p1{
    position: relative;
    top: 15px;
    font-size: 16px;
    font-weight: 600;
}

.inp-p2{
    position: relative;
    top: 15px;
    font-size: 16px;
    font-weight: 600;
}

.inp-p3{
    position: relative;
    top: 15px;
    font-size: 16px;
    font-weight: 600;
}

.btn{
    width: 180px;
    height: 50px;
    position: relative;
    bottom: 250px;
    left: 340px;
    color: #111;
    background-color: #ffbe00;
    border: 1px solid #FFBE00;
    border-radius: 5px;
    letter-spacing: 0.7px;
    font-weight: 700;
}


.btn-img img{
    width: auto;
    height: 15px;
    position: relative;
    left: 170px;
    bottom: 245px
}

.btn:hover{
    background-color: white;
    transition: 0.4s;
}

@media(max-width: 768px){
    .messege{
        margin-right: 60px;
    }
}

@media(max-width: 425px){
    .main-text9 h2{
        font-size: 25px;
    }

    .section9-form input{
        margin-left: 150px;
        height: 10px;
        width: 45%;
    }

    .messege{
        width: 200px ;
        height: 275px;
        margin-right: 125px;
    }
    

}

@media(max-width: 320px){
    .main-text9 h2{
        font-size: 15px;
    }

    .section9-form input{
        margin-left: 200px;
        height: 10px;
        width: 30%;
    }
    .messege-p{
       display: none;
       
    }
    .messege{
        width: 200px ;
        height: 275px;
        margin-right: 140px;
    }
    
}


